/* Raleway */
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

/* Pinyon */
@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");
* {
  box-sizing: border-box;
  overflow-anchor: none;

  scroll-padding: 7vh;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  font-family: "Raleway", sans-serif;

  height: 100vh;
  width: 100vw;

  overflow-y: auto;
  overflow-x: hidden;

  background: linear-gradient(45deg, #080808, #333333);
  background-size: 500% 500%;
  animation: 15s gradientShift linear infinite;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: black;
}

.nav {
  height: 50px;
  width: 100%;
  position: fixed;

  color: white;

  background-color: rgba(0, 0, 0, 0.3);
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 900px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

/* ! Main Body Container Code */
.fadeInClass {
  animation: 1s fadeInBottom ease;
}
hr {
  width: 90%;
}

.firstContainer {
  height: 97% !important;
  width: 100%;

  /* background: linear-gradient(45deg, #000000, #444444);
  background-size: 200% 200%;
  animation: 6s gradientShift linear infinite; */

  color: white;
}
.twoWay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  text-align: left;
}

.firstContainer h1 {
  font-size: 4vw;
  padding-left: 3%;
}
.firstContainer h1 span {
  background: linear-gradient(to right, green, red);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientShift 5s ease infinite; /* Adjust the duration as needed */
  white-space: nowrap;
  background-size: 150% 150%;
}

.firstContainer p {
  font-size: 2vw;
  padding-left: 3%;
}

.firstContainer img {
  width: 50%;
  height: 50vw;
}

@media (max-width: 650px) {
  .firstContainer {
    padding-top: 10vh;
  }

  .firstContainer .leftMessage,
  .firstContainer img {
    width: 100%; /* Make both divs take up full width when stacked */
    height: 100vw;
  }
}

/* Slider Code */
.slider {
  width: 100%;
  white-space: nowrap;

  background-color: #222222;
}

.slide-track {
  width: 200vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  animation: scroll 40s linear infinite; /* Adjust the duration as needed */
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;

  width: auto;
}
.slide img {
  height: 20vh;
}

@keyframes scroll {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-100%); /* Adjust slide width as needed */
  }
}

.container {
  display: flex;
  width: 100%;

  flex-direction: column;
  color: white;

  border-radius: 1rem;

  padding: 1%;
}

#about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("./assets/pittsburgh.png");

  background-size: cover;

  width: 100%;
  border-radius: 0;

  font-size: 1rem;
  white-space: normal;
  /* font-size: 1.3vw; */
}

.container h1 {
  font-size: 4vw;
}

#strategy .twoWay {
  justify-content: space-around;

  width: 100%;
}
.smallBox h2 {
  font-size: 2rem;
  text-align: left;
}
.smallBox {
  width: 40%;
  margin: 0;
  padding: 0;
}

@media (max-width: 650px) {
  .smallBox {
    width: 100%;
  }
}

.largerContainer {
  width: 100%;
  justify-content: space-around;
  color: white;
}

#involved {
  width: 50%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("./assets/wall_street.jpeg");
  background-position: center;

  padding-left: 2%;
}
#involved h1 {
  font-size: 2.5rem;
}

#contact {
  width: 50%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./assets/floor.png");
  background-position: center;

  padding-left: 2%;
}
#contact h1 {
  font-size: 2.5rem;
}

@media (max-width: 650px) {
  #involved {
    width: 100%;
  }

  #contact {
    width: 100%;
  }
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 650px) {
  .twoWay {
    flex-direction: column; /* Stack divs vertically */
    text-align: center; /* Center the content */
  }
}

footer {
  color: #777777;
  width: 100%;
  padding-left: 3vw;
  font-size: 1rem;

  /* background: linear-gradient(45deg, #000000, #444444);
  background-size: 200% 200%;
  animation: 6s gradientShift linear infinite; */

  padding: 1%;
}
